extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 

  .container.my-3 
    .row 
      .col-12 
        +box-head("Chat")

    .row 
      .col-12 
        .chat 
          .inner-body 
            each chat in chats
              div(class=(chat.user_id == user.id ? "inner-outcoming" : "inner-incoming"))
                if(chat.user_id !== user.id)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content 
                  | #{chat.content}
            //- .inner-outcoming
            //-   .inner-content 
            //-     | OK
            //- .inner-incoming 
            //-   .inner-name Em Yêu 
            //-   .inner-content 
            //-     | A ơi sang nhà em nha,
            //- .inner-outcoming
            //-   .inner-content 
            //-     | OK
          .inner-foot 
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button 
                i.fas.fa-paper-plane