header.header 
    .container-fluid 
        .row.align-item-center 
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN 

            .col-9 
                div(class="text-right")
                    a(
                        href=`${preFixAdmin}/my-account`
                        class="btn btn-primary btn-sm mr-2"
                    )   #{user.fullName}

                    a(
                        href=`${preFixAdmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    )   Đăng xuất