.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${preFixAdmin}/dashboard`) Tổng quan
            if(role.permissions.includes("products-category_view"))
                li 
                    a(href=`${preFixAdmin}/products-category`) Danh mục sản phẩm

            if(role.permissions.includes("products_view"))
                li 
                    a(href=`${preFixAdmin}/products`) Danh sách sản phẩm

            if(role.permissions.includes("role_view"))
                li 
                    a(href=`${preFixAdmin}/roles`) Nhóm quyền

            if(role.permissions.includes("role_permissions"))
                li 
                    a(href=`${preFixAdmin}/roles/permissions`) Phân quyền

            if(role.permissions.includes("account_view"))
                li 
                    a(href=`${preFixAdmin}/accounts`) Danh sách tài khoản
            
            li 
                a(href=`${preFixAdmin}/settings/general`) Cài đặt chung